%main#main
	.before
	.after
	%ul#one
		%li.one
			.container
				.notification
					%span.before
					%span.after
					%header
						%h2 Discord
						%span.timestamp Now
					.content
						%span.sender Body Switcher
						%span.message Switch Successful! ✨
						%span.more You have switched bodies with DataWind!
		%li.two
			.container
				.notification
					%span.before
					%span.after
		%li.three
			.container
				.notification
					%span.before
					%span.after
	%ul#two
		%li.one
			.container
				.notification
					%span.before
					%span.after
					%header
						%h2 Calendar
						%span.timestamp 1h ago
					.content
						%span.event 2020 Events
						%span.date June 4, 2020 at 10:00 AM
						%span.more 2 more invitations
		%li.two
			.container
				.notification
					%span.before
					%span.after
		%li.three
			.container
				.notification
					%span.before
					%span.after
	%ul#three
		%li.one
			.container
				.notification
					%span.before
					%span.after
					%header
						%h2 Discord
						%span.timestamp 2h ago
					.content
						%span.user DataWind
						%span.message Switch Active!
						%span.more 2 more notifications
		%li.two
			.container
				.notification
					%span.before
					%span.after
		%li.three
			.container
				.notification
					%span.before
					%span.after